@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
* { 
  --primary: #2ea3ff;
  --border-color: #e6eef9; 
  --primary-bg: #c6e7ffa6;
  --primary-hover: #037edd;
}

body { 
  background-color: #f7faff;
  color: #000000;
  font-family: 'Inter', sans-serif;
}

.hover-tab { 
  @apply hover:text-gray-50 hover:bg-[var(--primary)] hover:rounded-4xl transition-all duration-300 ease-linear cursor-pointer;
} 